<!DOCTYPE html>
<html>
    <head>
        <title>BLOGGER</title>
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
       <link rel="stylesheet" type="text/css" href="/app.css">
   </head>
    <body>


