<%-include("partials/header") %>
<a href="/" class="ui icon  purple button button1">
<i class="home icon"></i> HOME
</a>
<a href="/blogs/show" class="ui icon  purple button button1">
 Blogs
</a>

 <% if(error && error.length>0){%>
   <div class="ui container">
      <div class="danger-massage" role="alert">
           <%=error%>
     </div>
   </div>
     <% } %>
    <% if(success && success.length>0){%>
      <div class="ui container">
          <div class="success-massage" role="alert">
              <%=success%>
       </div>
      </div>
    <% } %>

<div class="ui centered grid">
 
  <div class="eight wide tablet six wide computer column">
  <div class="ui middle aligned center aligned grid">





  <div class="column">
    <h2 class="ui teal image header">
    
      <div class="content">
      Log-in to your account
      </div>
    </h2>
    <form class="ui large form" action="/login" method="POST">
      <div class="ui stacked segment">
      <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
         
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div >
         <button class="ui fluid large teal submit button" type="submit">LogIn</button></div>
       
        
      </div>

      <div class="ui error message">
      
      
      </div>

    </form>

   <div class="ui message">
      New to us? <a class=" mini ui green button"  href="/register">Sign Up</a> or go for
       <a class=" mini ui red button" href="/forget">Forget password</a>
    </div>
  </div>
</div>
  
  </div>
</div>

<%-include("partials/footer") %>



















