<!DOCTYPE html>
<html>
    <head>
        <title>BLOGGER</title>
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
       <link rel="stylesheet" type="text/css" href="/profile.css">
   </head>
    <body>

<div class="ui container back-button">
    <a href="/blogs/show" class="ui icon  purple button ">
 Back
</a>
</div>


<h1 class="space"></h1>
<div class="ui centered grid">
 
  <div class="eight wide tablet six wide computer column">
  <div class="ui middle aligned center aligned grid">
  <div class="ui segment">
     <div >
     <% if(current.userimage){%>
    <img class="ui small circular image" src="<%= user.userimage %>">
    
     \
    <%}else{%>
      <img class="ui small circular image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/768px-User_font_awesome.svg.png">
      
      <%}%>
  </div>
  <div >
    
     
      
  </div>
  
  </div>
 


  </div>
  
  </div>
</div>
 <h1 class="spacedown"></h1>
    <div class="ui container">
      <div class="content-information">
      <span class="content-icon"><i class="user icon"></i></span> <div class="content-data">
        <span ><%=current.fullname%></span>
      </div>
    </div>

 
   
   
    <div class="content content-information">
     <span class="content-icon"><i class="at icon"></i></span> <div class="content-data">
       <span ><%=current.email%></span>
     </div>
    </div>
    </div>
 
  
   
    

 
</div>
</div>



<%-include("../partials/footer") %>

















